body {
  font-family: sans-serif;
  background-image: url("https://sun9-51.userapi.com/impg/3feJrELIWnHj3_5s1HXvm4H69OnqCeFRC7GasQ/Gc3x-Yml8zI.jpg?size=1200x673&quality=95&sign=895291242190db622f0c1283a3517301&type=album"); background-size: cover; background-repeat: no-repeat; background-position: center;
  padding: 100px;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  color:white;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  color:white;
}

#nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
#nav button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: red;
  cursor: pointer;
}
#nav button.active {
  background: green;
  color: white;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.menu-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-section.hidden {
  display: none;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 780px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
  background: white;
  border-radius: 16px;
  padding-bottom: 12px;
  text-align: center;
  box-shadow: 0 2px 8px black (0, 0, 0, 0.08);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.card h3 {
  font-size: 16px;
  margin: 10px 8px 6px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

#combo {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.slot {
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 8px black (0, 0, 0, 0.05);
  cursor: pointer;
}
.slot.selected {
  outline: 2px solid green;
}

#total {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  font-weight: 600;
}
form {
  max-width: 420px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  padding: 8px;
  border: 1px solid white;
  border-radius: 8px;
}
/* --- Всплывающее уведомление --- */
.notify {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.notify.hidden {
  display: none;
}

.notify-box {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  min-width: 280px;
  max-width: 90%;
  animation: fadeIn 0.3s ease;
}

.notify-box p {
  font-size: 16px;
  margin-bottom: 15px;
}

.notify-box button {
  background: #ff7043;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}